<header>
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="/trainer"><b style="font-size: 30px">fpt</b> CO.</a>
        <div class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    {{#if loginName}}
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">{{loginName}}<i
                            class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/trainer/trainerEdit">Update Profile</a></li>
                        <li><a class="dropdown-item" href="#!">Change Password</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/logout">Logout</a></li>
                    </ul>
                    {{/if}}
                </li>
            </ul>
        </div>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav" style="font-size: 12.5px; ">
                        <div class="sb-sidenav-menu-heading"><b style="font-size: 14px">Trainer Account</b></div>
                        <a class="nav-link" href="/trainer/AssignedCourse" style="text-decoration: none; ">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            View Assigned Courses
                        </a>
                        <a class="nav-link" href="/trainer/ViewCourses" style="text-decoration: none; ">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            View Courses
                        </a>
                        <a class="nav-link" href="/trainer/viewTrainee" style="text-decoration: none; ">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            View Trainees
                        </a>
                          <a class="nav-link" href="/trainer/trainerCategory" style="text-decoration: none; ">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Coures Category
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>