<!DOCTYPE html>
<html lang="en">

<body class="sb-nav-fixed">
    {{> head}}
    {{> staffHeader}}

    <div class="container py-5" style="margin-top: 3%; margin-left: 15%">

        <div class="e-panel card" style="width: 90%; margin-left: 5%">
            <div class="card-body">
                <div class="card-title">
                    <h2 style="text-align: center">Viewing Course Detail</h2>
                    <h3>Course Name: Database</h3>
                    <h3>Category: IT</h3>
                    <h3>Trainer: Do Hong Quan</h3>
                    <h3>Trainee table</h3>
                </div>
                <div class="e-table">
                    <div class="table-responsive table-lg mt-3">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="max-width" style="text-align:center">Name</th>
                                    <th class="max-width" style="text-align:center">Email</th>
                                    <th class="sortable" style="text-align:center">Date of birth</th>
                                    <th class="sortable" style="text-align:center">Education</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-nowrap align-middle">Adam Cotter</td>
                                    <td class="text-nowrap align-middle"><span>09 Dec 2017</span></td>
                                    <td class="text-nowrap align-middle"><span>Training staff</span></td>
                                    <td class="text-nowrap align-middle"><span>Training staff</span></td>
                                </tr>
                                <tr>
                                    <td class="text-nowrap align-middle">Adam Cotter</td>
                                    <td class="text-nowrap align-middle"><span>09 Dec 2017</span></td>
                                    <td class="text-nowrap align-middle"><span>Training staff</span></td>
                                    <td class="text-nowrap align-middle"><span>Training staff</span></td>
                                </tr>
                                <tr>
                                    <td class="text-nowrap align-middle">Pauline Noble</td>
                                    <td class="text-nowrap align-middle"><span>26 Jan 2018</span></td>
                                    <td class="text-nowrap align-middle"><span>Training staff</span></td>
                                    <td class="text-nowrap align-middle"><span>Training staff</span></td>
                                </tr>
                                <tr>
                                    <td class="text-nowrap align-middle">Sherilyn Metzel</td>
                                    <td class="text-nowrap align-middle"><span>27 Jan 2018</span></td>
                                    <td class="text-nowrap align-middle"><span>Trainer</span></td>
                                    <td class="text-nowrap align-middle"><span>Trainer</span></td>
                                </tr>
                                <tr>
                                    <td class="text-nowrap align-middle">Terrie Boaler</td>
                                    <td class="text-nowrap align-middle"><span>20 Jan 2018</span></td>
                                    <td class="text-nowrap align-middle"><span>Trainer</span></td>
                                    <td class="text-nowrap align-middle"><span>Trainer</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>