<!DOCTYPE html>
<html lang="en">

{{> head}}

<body class="sb-nav-fixed">
  {{> traineehead}}
  <div class="container py-5" style="margin-top: 3%; margin-left: 15%">
    <div class="e-panel card" style="width: 90%; margin-left: 5%">
      <div class="card-body">
        <div class="card-title">
        </div>
        <div class="e-table">
          <div class="table-responsive table-lg mt-3">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Date of Birth</th>
                  <th>Education</th>
                </tr>
              </thead>
              {{!-- <tbody>
                {{#each aTrainee}}
                <tr>
                  <td class="text-nowrap align-middle">{{name}}</td>
                  <td class="text-nowrap align-middle">{{email}}</td>
                  <td class="text-nowrap align-middle">{{dateofbirth}}</td>
                  <td class="text-nowrap align-middle">{{education}}</td>
                </tr>
                {{/each}}
              </tbody> --}}
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>